body {
  background-color: rgb(197, 181, 162);
  text-align: center;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 1;
  display: block;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}
h1 {
  font-size: 40px;
  margin-top: 70px;
  padding: 0 10px;
}
img {
  border-radius: 10px;
}
footer {
  margin: 20px;
}
footer a {
  padding: 10px;
  color: #1c9e1a;
  font-size: 18px;
}
